<div class="container">
  <div class = "row">
    <div class="col-6">
      <div class="greeting">
        <div class="align-items-center" style="width:auto;">
          <h2 style="text-align:center"><i>My name is Chaitanya Welcome to my site</i></h2>
          <h3 style="text-align:center"><i>www.chaygo.com</i></h3>
          <h4 style="text-align:center"><i>I am building this site using Angular6 hosted on Google firebase</i></h4>
          <div class = "row">
            <div class="col-3" style="margin-left: 4em;margin-right: 0em">
              <a href="https://www.facebook.com/chaitanyamamidi19" target="_blank">
                <img src="assets/img/fb.png" alt="School" width="40" height="40">
              </a>
            </div>
            <div class="col-3" style="margin-right: 0em">
              <a href="https://www.linkedin.com/in/satyam511/" target="_blank">
                <img src="assets/img/Linkedin.png"  alt="School" width="40" height="40">
              </a>
            </div>
            <div class="col-3" style="margin-right: 0em">
              <a href="https://www.instagram.com/chaitanyamamidi19/" target="_blank">
                <img src="assets/img/insta.png"  alt="School" width="40" height="40">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="img" style="margin-right: 10em">
        <img src="assets/img/my-picture.jpg" alt="School Image" width="360" height="340" >
      </div>
    </div>
  </div>
</div>







