<bs-navbar></bs-navbar>
<!--  <div class="starter-template">
    <h1 style="text-align:center">  Hi Welcome to my Page  </h1>
    <p class="lead" style="text-align:center">  Under Construction Tresspassing Prohibited  </p>
  </div>-->
<!--Putting class image here makes background global usually its container here-->
<div class="image">

  <div class="greeting">
    <h1 style="text-align:center">Welcome to my Page</h1>
    <p class="lead" style="text-align:center">  Under Construction Tresspassing Prohibited  </p>
  </div>
  <router-outlet></router-outlet>
</div>

<!--<html>
<head>
  <style>
    .background-image{
      height:40em;
      background-size:cover;
      width:auto;
      background-image:url('background.jpg');
    }
  </style>
</head>
<body>-->

<!--
<div class="image">
  Your content
</div>
-->


