<!--<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  </style>
</head>
<body>-->

<div class="img">
  <img src="assets/img/st.aloysusAngloIndianHighSchool.jpg" alt="School Image" width="790" height="480" >


  <h1 style="text-align:center">This is my school </h1>
  <h2 style="text-align:center">St.Aloysius Anglo Indian High Scheool</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/st.aloysusAngloIndianHighSchool.jpg" class="card-img-top" alt="School" width="140" height="130">
        <div class="card-body" align="center">
          <h5 class="card-title">High School     Till 2008</h5>
          <!--
                  <p class="card-text">Till 2008</p>
          -->
          <a href="http://st-aloysius-vizag.com/" target="_blank" class="btn btn-primary">Go To Link</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/narayana juniour college complex.jpg" class="card-img-top" alt="+1,+2" width="140" height="130">
        <div class="card-body" align="center">
          <h5 class="card-title">Intermediate     2008-2010</h5>
          <!--<p class="card-text">2008-2010</p>-->
          <a href="https://www.narayanagroup.com/" target="_blank" class="btn btn-primary">Go To Link</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/Sanketika.jpg" class="card-img-top" alt="Under Grad" width="140" height="130">
        <div class="card-body" align="center">
          <h5 class="card-title">Under Grad     2010-2014</h5>
          <!--<p class="card-text">2010-2014</p>-->
          <a href="https://www.svpec.edu.in/index.html" target="_blank" class="btn btn-primary">Go To Link</a>
        </div>
      </div>
    </div>

  </div>
</div>









<!--

</body>
</html>
-->

