<div class="container">
  <div class="row">
    <div class="col-md" style="margin-left: -50px;margin-bottom: 1em">
      <img src="assets/img/delta.jpg" class="card-img-top" alt="School" width="300" height="200">
    </div>

    <div class="col-md">
      <div class="align-items-center" style="margin-right: -3em">
        <h1><i>I worked as Java Developer at Delta Airline in Minnesota</i></h1>
        <h2 style=margin-right:1><i>From 2018 - 2019</i></h2>
        <!--<p class="card-text">2008-2010</p>-->
        <a href="https://www.delta.com/" target="_blank" class="btn btn-primary">Go To Link</a>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-md" style="margin-left: -50px">
      <img src="assets/img/verizon.jpg" class="card-img-top" alt="School" width="300" height="200">
    </div>

  <div class="col-md">
    <div class="align-items-center" style="margin-right: -3em">
    <h1><i>I am currently working as a Java Developer at Verizon in Florida</i></h1>
        <!--<p class="card-text">2008-2010</p>-->
      <h2 style=margin-right:1><i>From 2019 - </i></h2>
        <a href="https://www.verizon.com/" target="_blank" class="btn btn-primary">Go To Link</a>
    </div>
  </div>
</div>
</div>

